---
import Section from '@/components/printableCV/Section.astro'

import { work } from '@cv'
---

<Section title="Experiencia laboral">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : 'Actual'

          return (
            <li>
              <article>
                <header class="flex justify-between items-start mb-1">
                  <div>
                    <h3 class="font-sans font-medium text-gray-950">
                      <a
                        class="text-gray-950 hover:underline"
                        href={url}
                        title={`Ver ${name}`}
                        target="_blank"
                      >
                        {name}
                      </a>
                    </h3>
                    <h4 class="font-sans font-normal">{position}</h4>
                  </div>

                  <div>
                    <time
                      datetime={startDate}
                      data-title={startDate}
                      class="text-gray-600 text-base min-w-[102px] cursor-default relative"
                    >
                      {startYear}
                    </time>
                    {' - '}
                    <time
                      datetime={endDate}
                      data-title={endDate}
                      class="text-gray-600 text-base min-w-[102px] cursor-default relative"
                    >
                      {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p class="text-gray-500 text-sm text-pretty">{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 0.75rem;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      'Courier New',
      monospace;
    position: absolute;
    padding: 0.2rem 0.5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }

  @media print {
    [data-title]:after {
      display: none;
    }
  }
</style>
