---
import Section from '@/components/index/Section.astro'

import { education } from '@cv'
---

<Section title="Educación">
  <ul class="flex flex-col gap-8">
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : 'Actual'
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header class="flex justify-between items-start mb-1">
                <div>
                  <h3 class="font-sans font-medium text-gray-950">
                    {institution}
                  </h3>
                </div>

                <time class="text-gray-600 text-base min-w-[102px] cursor-default text-right">
                  {years}
                </time>
              </header>

              <footer>
                <p class="text-gray-500 text-base text-pretty">{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>
