---
import { proyects } from '@proyects'
---

<section
  class="md:grid md:grid-cols-4 md:gap-4 md:max-w-3xl md:mx-auto border rounded-lg border-red-600"
>
  {
    proyects.map((proyect) => (
      <div
        class={`
          ${proyect.name === 'Primer proyecto Fullstack' && 'md:row-span-1 md:col-span-4 bg-red-300'}
          ${proyect.name === 'Nodepop' && 'md:row-span-1 md:col-span-3 bg-blue-300'}
          ${proyect.name === 'Juego StackTower' && 'md:row-span-1 md:col-span-1 bg-green-300'}
          ${proyect.name === 'Dashboard' && 'md:row-span-1 md:col-span-2 bg-yellow-300'}
          ${proyect.name === 'API JWT cookie auth' && 'md:row-span-1 md:col-span-1 bg-violet-300'}
          ${proyect.name === 'Ejemplo de portfolio' && 'md:row-span-1 md:col-span-1 bg-orange-300'}
          flex flex-col items-center justify-center p-4 m-4 rounded-lg shadow-md`}
      >
        <img
          src={proyect.image}
          alt={proyect.name}
          class="w-32 object-cover rounded-lg"
        />
        <h2 class="text-2xl font-bold text-gray-800">{proyect.name}</h2>
        <a href={proyect.github} class="mt-4 text-blue-500 hover:underline">
          Ver repositorio
        </a>
        <a href={proyect.url} class="mt-4 text-blue-500 hover:underline">
          Ver proyecto
        </a>
      </div>
    ))
  }
</section>
