---
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<section
  class="max-w-xs mx-auto flex flex-col gap-2 md:grid md:grid-cols-4 md:gap-2 md:max-w-3xl md:mx-auto rounded-lg bg-slate-700 p-2"
>
  {
    projects.map(({ data }) => (
      <div
        class={`${data.tailwindClasses} group relative bg-contain md:hover:bg-gray-300 md:bg-no-repeat bg-center max-md:bg-gray-300 flex flex-col items-center justify-center p-4 rounded-lg shadow-md transition-all duration-700 ease-in-out`}
      >
        <a href={`projects/${data.path}`}>
          <img
            src={data.image}
            alt={data.name}
            class="md:group-hover:opacity-65 max-md:opacity-65 opacity-0 absolute inset-0 w-full h-full object-cover z-0 rounded-lg transition-opacity duration-700 ease-in-out"
          />
        </a>

        <h2 class="text-2xl font-bold text-gray-800 z-10">
          <a href={`projects/${data.path}`}>{data.name}</a>
        </h2>

        <a href={data.github} class="mt-4 text-blue-500 hover:underline z-10">
          Ver repositorio
        </a>
        <a href={data.url} class="mt-4 text-blue-500 hover:underline z-10">
          Ver proyecto
        </a>
      </div>
    ))
  }
</section>
